.btn1 {
    background-color: orange;
    border-radius: 8px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    left: 42%;
}

.btn2 {
    background-color: goldenrod;
    border-radius: 8px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    left: 42%;
}